<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Tasks</h1>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                {% if tasks %}
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </thead>
                        <tbody>
                            {% for stuff in tasks %}
                                <tr>
                                    <td>{{ stuff.name }}</td>
                                    <td>{{ stuff.start_date }}</td>
                                    <td>{{ stuff.due_date }}</td>
                                    <td>{{ stuff.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
